.mat-mdc-table .mdc-data-table__row:hover {
  background-color: #f1f1f1;
}

.normal-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.search {
  font-size: 50px;
  height: 70px;
  width: 70px;
}

.mat-elevation-z8 {
  border-radius: 8px;
}

.mat-mdc-paginator {
  border-radius: 8px;
  margin-top: 110px;
}

.mat-mdc-header-row {
  background-color: #c8e1f1;
}

table {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 2px solid #c8e1f1;
  overflow: hidden !important;
}

td {
  border-bottom: 2px solid #c8e1f1;
  font-size: 13px;
  color: rgba(0,0,0,.6);
}

th{
  font-size: 13px;
  color: rgba(0,0,0,.6);
}

.table-row {
  height: 70px !important;
}
